[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"
pytest = "*"

[packages]
numpy = "*"
h5py = "*"

[requires]
python_version = "*"

[pipenv]
allow_prereleases = true
